In [4]:
import numpy as np
from pandas import DataFrame, read_csv
from sklearn import preprocessing

In [5]:
#########################
############ Read in data
#########################


header = list(read_csv('Field Names.csv', header=None)[0])
field_types = read_csv('Field Names.csv', names=['field_name','field_type'])
intrusions = read_csv('Attack Types.csv', names=['attack_type','attack_group','set'])
data_train = read_csv('KDDTrain+.csv', names=header)
data_test = read_csv('KDDTest+.csv', names=header)

x_train = data_train.ix[:,:-2]
y_train = data_train.ix[:,-2:-1]

x_test = data_test.ix[:,:-2]
y_test = data_test.ix[:,-2:-1]

In [6]:
#########################
# Mapping of attack types
#########################
attack_tuples = list(zip(intrusions.attack_type, intrusions.attack_group))
attack_mapping = {entry[0]:entry[1] for entry in attack_tuples}

y_train = y_train.replace({'attack_type':attack_mapping})
y_test = y_test.replace({'attack_type':attack_mapping})

In [7]:
#########################
####### Encoding the data
#########################

protocol_types = x_train.protocol_type.unique()
services = x_train.service.unique()
flags = x_train.flag.unique()
attack_types = y_train.attack_type.unique()

le = preprocessing.LabelEncoder()

le.fit(protocol_types)
x_train.protocol_type = le.transform(x_train.protocol_type)
x_test.protocol_type = le.transform(x_test.protocol_type)


le.fit(services)
x_train.service = le.transform(x_train.service)
x_test.service = le.transform(x_test.service)

le.fit(flags)
x_train.flag = le.transform(x_train.flag)
x_test.flag = le.transform(x_test.flag)

le.fit(attack_types)
y_train.attack_type = le.transform(y_train.attack_type)
y_test.attack_type = le.transform(y_test.attack_type)

In [8]:
#########################
######### Obtaining min max values for Feature Scaling
#########################

field_tuples = list(zip(field_types.field_name, field_types.field_type))
fields = [field_tuple[0] for field_tuple in field_tuples if field_tuple[1] == 'continuous']

field_max_values = {field:np.amax(x_train[field]) for field in fields}
field_max_values = {field:np.amax(x_test[field]) if np.amax(x_test[field]) > field_max_values[field] else field_max_values[field] for field in fields}                                                                                                                                             

field_min_values = {field:np.amin(x_train[field]) for field in fields}
field_min_values = {field:np.amin(x_test[field]) if np.amin(x_test[field]) > field_min_values[field] else field_min_values[field] for field in fields}

In [9]:
#########################
######### Feature Scaling
#########################

for feature in field_max_values.keys():
    
    x_train[feature] = x_train[feature].apply(lambda x: float((x - field_min_values[feature])) / (field_max_values[feature] - field_min_values[feature]))
    x_test[feature] = x_test[feature].apply(lambda x: float((x - field_min_values[feature])) / (field_max_values[feature] - field_min_values[feature]))

In [10]:
import pickle

pickle.dump((x_train, x_test, y_train, y_test), open('capstone_data', 'wb'))

In [13]:
x_train, x_test, y_train, y_test = pickle.load(open( "capstone_data", "rb" ))

In [14]:
y_train

        attack_type
0                 1
1                 1
2                 0
3                 1
4                 1
5                 0
6                 0
7                 0
8                 0
9                 0
10                0
11                0
12                1
13                3
14                0
15                0
16                1
17                2
18                1
19                1
20                0
21                0
22                1
23                1
24                0
25                1
26                0
27                1
28                1
29                1
...             ...
125943            1
125944            1
125945            1
125946            0
125947            2
125948            0
125949            1
125950            0
125951            1
125952            1
125953            0
125954            1
125955            1
125956            1
125957            1
125958            0
125959            1
125960            1
125961            1
125962            1
125963            1
125964            0
125965            1
125966            0
125967            1
125968            0
125969            1
125970            1
125971            0
125972            1

[125973 rows x 1 columns]